body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #aec251;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  cursor: pointer;
  color: #687430;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}

.btn-default {
    border-color: #aec251;
    color: #aec251;
}

.btn-default:hover {
    background-color: #aec251;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 2%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.different .form-group{
    float:left;
    padding-left: 40px;
}

.btn{
    margin-top: 26px;
}

.running{
   margin: auto;
   width: 90%;
}

#command{
    width: 400px;
}

#channel{
    width: 220px;
}

.commands{
    margin: auto;
    width:100%;
}

.commands th{
    border-bottom-style: solid;
    border-width: 2px;
    font-size: 18px;
    text-align: center;
    padding: 5px 5px;
}

.commands td{
    font-size: 15px;
    text-align: center;
    border-bottom-style: solid;
    border-right-style: dotted;
    border-left-style: dotted;
    border-width: 2px;
    padding: 8px 8px;
    background-color: darkslategrey;
    margin: auto;
    width: 50px;
}

.green{
    background-color: green;
    margin: auto;
    padding: 5px 15px;
}

.red{
    background-color: red;
    margin: auto;
    padding: 5px 15px;
}

.middle {
    margin: auto;
    width: 70%;
    padding: 10px;
    padding-top: 10px;
}

.middle-commands {
    margin: auto;
    padding: 10px;
    padding-top: 10px;
}

.black{
    background-color: darkslategrey;
    width: 100%;
}

.play{
    background-color: darkslategrey;
    border-style: none;
}

.channel{
    word-wrap: break-word;
    text-align: center;
    width: 80px;
    margin: auto;
}

.dots{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.command{
    word-wrap: break-word;
    text-align: center;
    width: 500px;
    margin: auto;
}

.close {
	color: white !important;
	text-align: center;
	font-size: 30px;
}

#passwordvalidate {
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#close {
	color: #000000 !important;
	margin-top: -8px;
	font-size: 40px;
}

.modal-header, h4 {
	background-color: #222;
	color: white !important;
	text-align: center;
	font-size: 30px;
}

.popover-title {
	background-color: darkslategrey;
	color: white !important;
	text-align: center;
	width: 140px;
}

.popover-content {
    color: #FFFFFF;
    margin: auto;
}

.popover div{
    padding: auto;
}

.popover a{
    width: 50px;
    margin: 3px;
}
